body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/flight.png");
  background-repeat: no-repeat;
  background-size: 10pc;
  background-position: right bottom;
  background-attachment: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main {
  background: rgba(73, 180, 184, 0.138);
  width: 60vw;
  height: 90vh;
  border-radius: 7px;
}
